{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Excluir registros</title>
    <meta charset=UTF-8"">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  </head>

  <body>
    <div class="card">
      <form action="" method="POST">
        
        <p>Deseja excluir o registro {{ object }} </p>
        
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Excluir</button>
      </form>
    </div>
  </body>
  
</html>
