{% extends 'modelo.html' %}

{% block titulo %}
    <title>Pacientes</title>
{% endblock %}

{% block conteudo %}
    <h1> Pacientes Registrados </h1>
      <table>
        <th>Nome</th>
        <th>Data de Nacimento</th>
        <th>Opções</th>

        {% for paciente in object_list %}
            <tr>
                <td> {{ paciente.nome }} </td>
                <td> {{ paciente.dataNascimento }} </td>
                <td>
                    <a href="{% url 'editar-paciente' paciente.pk %}">editar</a>
                    <a href="{% url 'excluir-paciente' paciente.pk %}">excluir</a>
                </td>
            </tr>

        {% empty %}

            <tr>
                <td colspan="3">Nenhum registro</td>
            </tr>

        {% endfor %}

      </table>
{% endblock %}
